body {
    margin: 0;
    font-family: Arial, sans-serif;
}

div h1.category-title {
    text-align: center !important;
}

/* Styles pour centrer le titre */
.category-title {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

/* Styles de fond pour les catégories */
.background-category1 {
    background-color: #E3E6F5; /* Violet pâle */
}

.background-category2 {
    background-color: #F7E8C5; /* Jaune pâle */
}

.background-category3 {
    background-color: #F6D5D5; /* Rose pâle */
}

/* Grille de produits */
.product-list-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Augmenter la taille minimale */
    gap: 20px;
    padding: 20px;
}

/* Styles de la carte */
.card {
    width: 100%;
    height: 400px; /* Hauteur totale de la carte */
    display: flex;
    flex-direction: column;
    border: 2px solid black; /* Contour noir */
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

    .card img {
        width: 100%;
        height: 300px; /* Augmenter la hauteur pour l'image */
        object-fit: cover; /* Remplissage de l'image sans déformation */
    }

.card-body {
    padding: 5px; /* Réduire le padding */
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Positionner le texte en haut */
}

.card-title,
.card-text,
.card-price {
    margin: 3px 0; /* Réduire l'espace entre les éléments de texte */
    font-size: 1em; /* Réduire légèrement la taille du texte */
}


/* Flip Card */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 400px;
    perspective: 1000px;
    margin: 10px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%; /* Prend toute la hauteur de la carte */
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #fff;
    color: black;
}

.flip-card-back {
    background-color: #f8f9fa;
    color: black;
    transform: rotateY(180deg);
}

/* Background colors based on category */
.background-category1 {
    background-color: #e6e6fa; /* Violet pâle */
}

.background-category2 {
    background-color: #fffacd; /* Jaune pâle */
}

.background-category3 {
    background-color: #ffe4e1; /* Rose pâle */
}
