@model ProjetValilou.Models.ContactViewModel

@{
    ViewData["Title"] = "Contactez-nous";
}

<h2>Contactez-nous</h2>
<div class="contact-form">
    <form asp-action="Index" method="post">
        <div class="mb-3">
            <label for="nom">Nom:</label>
            <input type="text" class="form-control" id="nom" name="nom" required placeholder="Ex: Dupont Nicola">
            <span id="nomError" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" id="email" class="form-control" required placeholder="Ex: exemple@gmail.com">
            <span id="emailError" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Telephone" class="form-label"></label>
            <input asp-for="Telephone" id="telephone" class="form-control" required placeholder="Ex: 03-12-12-09">
            <span id="telephoneError" class="text-danger"></span> 
        </div>

        <div class="mb-3">
            <label asp-for="Objet" class="form-label"></label>
            <select asp-for="Objet" class="form-select" required>
                <option value="" disabled selected>Sélectionnez un objet</option>
                <option value="demande_information">Demande d'information</option>
                <option value="commande">Commande</option>
                <option value="reclamation">Réclamation</option>
                <option value="retour_produit">Retour produit</option>
                <option value="autre">Autre</option>
            </select>
            <span asp-validation-for="Objet" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Message" class="form-label"></label>
            <textarea asp-for="Message" id="message" class="form-control" rows="4" required placeholder="Écrivez votre message ici..."></textarea>
            <span id="messageError" class="text-danger"></span>
        </div>

        <div class="mb-3 form-check">
            <input asp-for="Consentement" class="form-check-input" required>
            <label class="form-check-label" for="Consentement">J'accepte que mes données personnelles soient utilisées pour répondre à ma demande.</label>
            <span asp-validation-for="Consentement" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Envoyer</button>
    </form>
</div>

<script src="~/js/form-validation.js"></script>
